{% extends 'twf/base/base.html' %}
{% load crispy_forms_tags %}
{% load nav_tags %}

{% block content %}
     <div class="border rounded bg-light mt-0 p-3">
        <h1 class="display-6">Ask Claude</h1>
        <p class="lead">Select the context of your question and ask an AI questions about it.</p>
        {% crispy form %}
        
        <div class="row ms-1 me-1 mt-3 p-2 border rounded bg-white">
            {% if result %}
                <div class="col-12">
                    
                    <h5>Results</h5>
                    {{ result|markdown }}
                </div>
            {% endif %}
        </div>
     </div>
{% endblock %}