{% extends 'twf/base/base.html' %}
{% load nav_tags %}
{% load twf_renders %}

{% block content %}
    <div class="border rounded bg-light mt-0 p-3">
        <div class="row mb-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Document Details</h5>
                        <table class="table">
                            <tr>
                                <td>Database ID / Transkribus ID</td>
                                <td> {{ document.pk }} / {{ document.document_id }}</td>
                            </tr>
                            <tr>
                                <td>Object data</td>
                                <td>
                                    Created at {{ document.created_at }} by {{ document.created_by }}.
                                    Last updated by {{ document.modified_by }} at {{ document.modified_at }}.
                                </td>
                            </tr>
                            <tr>
                                <td>Document Title</td>
                                <td> {{ document.title }}</td>
                            </tr>
                            <tr>
                                <td>Tags in the document</td>
                                <td>
                                    {% for page in document.pages.all %}
                                        {% for tag in page.tags.all %}
                                            {% if tag.dictionary_entry %}
                                                <span class="badge bg-success">{{ tag.variation }}: {{ tag.dictionary_entry }}</span>
                                            {% else %}
                                                <span class="badge bg-danger">{{ tag.variation }}</span>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td>Open in Transkribus</td>
                                <td> <a href="{{ document.get_transkribus_url }}" target="_blank">{{ document.get_transkribus_url }}</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <ul class="nav nav-tabs" id="documentTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pages-tab" data-bs-toggle="tab" data-bs-target="#pages" type="button" role="tab" aria-controls="pages" aria-selected="true">Pages</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="metadata-tab" data-bs-toggle="tab" data-bs-target="#metadata" type="button" role="tab" aria-controls="metadata" aria-selected="false">Metadata</button>
            </li>
        </ul>
        <div class="tab-content mt-2" id="documentTabsContent">
            <div class="tab-pane fade show active" id="pages" role="tabpanel" aria-labelledby="pages-tab">
                <div class="row">
                    {% for page in document.pages.all %}
                        {% if not page.is_ignored %}
                            <div class="col-8 mb-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Page {{ page.tk_page_number }} ({{ page.tk_page_id }})</h5>
                                        <p class="card-text small">
                                            Last parsed: <span class="badge bg-secondary">{{ page.last_parsed_at }}</span>
                                            Blocks: <span class="badge bg-secondary">{{ page.parsed_data|length }}</span>
                                            Tags: <span class="badge bg-secondary">{{ page.num_tags }}</span>
                                        </p>
                                        <div class="card-text px-2 bg-light">
                                            {% for block in page.parsed_data.elements %}
                                                <span class="badge bg-info">{{ block.element_data.custom_structure.structure.type }}</span>
                                                <p class="small">
                                                    {% for line in block.element_data.text_lines %}
                                                        {{ line }}<br/>
                                                    {% endfor %}
                                                </p>
                                                {% if not forloop.last %}
                                                    <hr/>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div class="card-text px-2 bg-light">
                                            Tags:
                                            {% for tag in page.tags.all %}
                                                {% if tag.dictionary_entry %}
                                                    <span class="badge bg-success">{{ tag.variation }}: {{ tag.dictionary_entry }}</span>
                                                {% else %}
                                                    <span class="badge bg-danger">{{ tag.variation }}</span>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 mb-3">
                                <img src="{{ page.parsed_data.file.imgUrl }}" class="img-fluid img-clickable" alt="Page image">
                                <a href="{{ page.parsed_data.file.xmlUrl }}" target="_blank">Download PAGE.XML</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="metadata" role="tabpanel" aria-labelledby="metadata-tab">
                {% render_metadata document.metadata %}
            </div>
        </div>
    </div>
{% endblock %}
