{% extends 'twf/base/info_card.html' %}

{% block title %}
    Documents Overview
{% endblock %}

{% block info_text %}
    This section allows you to browse, search, and manage all documents within the project. 
    While documents can be manually created, this is typically unnecessary, as data should be 
    imported during project setup. Documents serve as the main unit of the project, each consisting 
    of individual pages for detailed exploration.
{% endblock %}

{% block number_1 %}
    {{ project.documents.count }}
{% endblock %}

{% block number_1_label %}
    Documents
{% endblock %}

{% block number_2 %}
    {{ project.batches.count }}
{% endblock %}

{% block number_2_label %}
    Batches
{% endblock %}

{% block number_3 %}
    {{ project.users.count }}
{% endblock %}

{% block number_3_label %}
    Users
{% endblock %}