{% extends 'twf/base/base.html' %}


{% block content %}
    <div class="border rounded bg-light mt-0 p-3">
        <h1 class="display-6">About</h1>
        <div >
            <p>
                This service is hosted and developed by the RISE (Research Infrastructure for the Study of Europe) team 
                at the University of Basel. We are committed to creating tools that support research and data management 
                for complex projects. Our service allows researchers to handle, enrich, and export document-based data 
                with ease.
            </p>
            <p>
                You can learn more about our work and access the source code on our 
                <a href="https://github.com/RISE-UNIBAS/" target="_blank">GitHub repository</a>.
            </p>
        </div>
    </div>
{% endblock %}
