<div class="alert alert-info d-flex align-items-center" role="alert">
  <i class="fas fa-info-circle me-2"></i>
  <div>
    For ambiguous dates, choose the order of month and
day (so you control if 02.03.24 is recognized as 3rd of February or 2nd of March) and select the output "resolution".
All dates are normalized to this resolution. If your input, for example, is "Oktober 2020" and you choose a "Year" 
resolution, the output will be "2020". If you choose "Month", it will be "2020-10" and if you choose "Day", it will be
"2020-10-XX".
  </div>
</div>

