<nav aria-label="breadcrumb" class="ms-0 ps-0 mb-0 pb-0">
  <ol class="breadcrumb ms-0 ps-0 mb-0 pb-2 pt-2">
   <li class="sidebarToggle">
       <button id="sidebarToggle" aria-expanded="true">
           <i class="fas fa-angle-left"></i>
       </button>
   </li>
    {% for crumb in breadcrumbs %}
      {% if not forloop.last %}
        <li class="breadcrumb-item">
          <a href="{{ crumb.url }}">{{ crumb.value|safe }}</a>
        </li>
      {% else %}
        <li class="breadcrumb-item active" aria-current="page">{{ crumb.value }}</li>
      {% endif %}
    {% endfor %}
  </ol>
</nav>