<div class="row">
<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <h1 class="display-6">{% block title %}title{% endblock %}</h1>
      <p class="card-text">
          {% block info_text %} 
            Default content for this section.
            {% endblock %}
      </p>
      <hr>
      <div class="row text-center">
          {% block number_row %}
            {% block number_col_1 %}
            <div class="col-sm-4">
              <div class="card bg-light">
                <div class="card-body">
                  <h5 class="card-title">{% block number_1 %}{% endblock %}</h5>
                  <p class="card-text">{% block number_1_label %}{% endblock %}</p>
                </div>
              </div>
            </div>
            {% endblock %}
            {% block number_col_2 %}
            <div class="col-sm-4">
              <div class="card bg-light">
                <div class="card-body">
                  <h5 class="card-title">{% block number_2 %}{% endblock %}</h5>
                  <p class="card-text">{% block number_2_label %}{% endblock %}</p>
                </div>
              </div>
            </div>
            {% endblock %}
            {% block number_col_3 %}
            <div class="col-sm-4">
              <div class="card bg-light">
                <div class="card-body">
                  <h5 class="card-title">{% block number_3 %}{% endblock %}</h5>
                  <p class="card-text">{% block number_3_label %}{% endblock %}</p>
                </div>
              </div>
            </div>
            {% endblock %}
          {% endblock %}
      </div>
    </div>
  </div>
</div>
</div>
