{% extends 'twf/base/base.html' %}

{% block content %}
    <p class="lead">These actions may result in data loss. Please read carefully before proceeding.</p>
        
    <form action="{% url 'twf:project_reset' %}" method="post">
      {% csrf_token %}
      
      <!-- A Bit Dangerous Section -->
      <div class="border p-3 mb-3">
        <h4>A Bit Dangerous</h4>
        <p>These actions are not irreversible but still modify your data significantly.</p>
        
        <!-- Unpark All Tags -->
        <div class="row mb-2">
          <div class="col-8">
              <p><strong>Unpark all tags:</strong> Unparks all parked tags in the project.</p>
          </div>
          <div class="col-4 text-end">
            <button 
              type="submit" 
              name="action" 
              value="unpark_all_tags" 
              class="btn btn-secondary show-confirm-modal" 
              data-message="Are you sure you want to un-park all tags?">
              Unpark All Tags
            </button>
          </div>
        </div>
    
        <!-- Remove All Prompts -->
        <div class="row mb-2">
          <div class="col-8">
              <p><strong>Delete all saved prompts:</strong> Deletes all saved prompts associated with this project.</p>
          </div>
          <div class="col-4 text-end">
            <button 
              type="submit" 
              name="action" 
              value="remove_all_prompts" 
              class="btn btn-secondary show-confirm-modal" 
              data-message="Are you sure you want to delete all saved prompts?">
              Delete All Prompts
            </button>
          </div>
        </div>
    
        <!-- Delete All Tasks -->
        <div class="row mb-2">
          <div class="col-8">
              <p><strong>Delete all tasks:</strong> Deletes all tasks. This does not affect your data but removes the
                  history of performed tasks.</p>
          </div>
          <div class="col-4 text-end">
            <button 
              type="submit" 
              name="action" 
              value="remove_all_tasks" 
              class="btn btn-secondary show-confirm-modal" 
              data-message="Are you sure you want to delete all tasks?">
              Delete All Tasks
            </button>
          </div>
        </div>
    
        <!-- Remove All Dictionaries -->
        <div class="row mb-2">
          <div class="col-8">
              <p><strong>Remove all dictionaries:</strong> Removes all dictionaries from the project (the dictionaries
                  themselves are not deleted).</p>
          </div>
          <div class="col-4 text-end">
            <button 
              type="submit" 
              name="action" 
              value="remove_all_dictionaries" 
              class="btn btn-secondary show-confirm-modal" 
              data-message="Are you sure you want to remove all dictionaries?">
              Remove All Dictionaries
            </button>
          </div>
        </div>
      </div>
    
      <!-- Dangerous Section -->
      <div class="border border-danger p-3">
        <h4 class="text-danger">Dangerous</h4>
        <p>These actions are irreversible. Proceed with caution.</p>
    
        <!-- Remove All Documents -->
        <div class="row mb-2">
          <div class="col-8">
              <p><strong>Delete all documents:</strong> Deletes all document objects in your project, including all
                  associated pages and tags. Collections can no longer be edited.</p>
          </div>
          <div class="col-4 text-end">
            <button
              class="btn btn-danger show-danger-modal"
              data-message="Are you sure you want to delete all documents?"
              data-redirect-url="{% url 'twf:reset_remove_all_documents' %}">
              Delete Documents
            </button>
          </div>
        </div>
    
        <!-- Remove All Tags -->
        <div class="row mb-2">
          <div class="col-8">
              <p><strong>Delete all tags:</strong> Deletes all tags. Tags can be re-extracted from Transkribus
                  document data. </p>
          </div>
          <div class="col-4 text-end">
            <button
              class="btn btn-danger show-danger-modal"
              data-message="Are you sure you want to delete all tags?"
              data-redirect-url="{% url 'twf:reset_remove_all_tags' %}">
              Delete All Tags
            </button>
          </div>
        </div>
    
        <!-- Remove All Collections -->
        <div class="row mb-2">
          <div class="col-8">
              <p><strong>Delete all collections:</strong> Deletes all collections in this project.</p>
          </div>
          <div class="col-4 text-end">
            <button
              class="btn btn-danger show-danger-modal"
              data-message="Are you sure you want to delete all collections?"
              data-redirect-url="{% url 'twf:reset_remove_all_collections' %}">
              Delete All Collections
            </button>
          </div>
        </div>
      </div>
    </form>

{% endblock %}