{% extends 'twf/base/base.html' %}

{% block content %}
    <p class="lead">This is dangerous!</p>
        
    <form action="{% url 'twf:project_reset' %}" method="post">
      {% csrf_token %}
      
      <!-- A Bit Dangerous Section -->
      <div class="border p-3 mb-3">
        <h4>A Bit Dangerous</h4>
        <p>These actions are not irreversible but still modify your data significantly.</p>
        
        <!-- Unpark All Tags -->
        <div class="row mb-2">
          <div class="col-8">
              <p><strong>Unpark all tags:</strong> All parked tags in the project are un-parked.</p>
          </div>
          <div class="col-4 text-end">
            <button 
              type="submit" 
              name="action" 
              value="unpark_all_tags" 
              class="btn btn-secondary show-confirm-modal" 
              data-message="Are you sure you want to un-park all tags?">
              Unpark All Tags
            </button>
          </div>
        </div>
    
        <!-- Remove All Prompts -->
        <div class="row mb-2">
          <div class="col-8">
              <p><strong>Remove all saved prompts:</strong> Removes all saved prompts from the project</p>
          </div>
          <div class="col-4 text-end">
            <button 
              type="submit" 
              name="action" 
              value="remove_all_prompts" 
              class="btn btn-secondary show-confirm-modal" 
              data-message="Are you sure you want to remove all saved prompts?">
              Remove All Prompts
            </button>
          </div>
        </div>
    
        <!-- Remove All Tasks -->
        <div class="row mb-2">
          <div class="col-8">
              <p><strong>Remove all tasks:</strong> All tasks are deleted. This will not alter your data but remove the history of performed tasks.</p>
          </div>
          <div class="col-4 text-end">
            <button 
              type="submit" 
              name="action" 
              value="remove_all_tasks" 
              class="btn btn-secondary show-confirm-modal" 
              data-message="Are you sure you want to remove all tasks?">
              Remove All Tasks
            </button>
          </div>
        </div>
    
        <!-- Remove All Dictionaries -->
        <div class="row mb-2">
          <div class="col-8">
              <p><strong>Remove all dictionaries:</strong> Dictionaries are not deleted but removed from the project.</p>
          </div>
          <div class="col-4 text-end">
            <button 
              type="submit" 
              name="action" 
              value="remove_all_dictionaries" 
              class="btn btn-secondary show-confirm-modal" 
              data-message="Are you sure you want to remove all dictionaries?">
              Remove All Dictionaries
            </button>
          </div>
        </div>
      </div>
    
      <!-- Dangerous Section -->
      <div class="border border-danger p-3">
        <h4 class="text-danger">Dangerous</h4>
        <p>These actions are irreversible. Proceed with caution.</p>
    
        <!-- Remove All Documents -->
        <div class="row mb-2">
          <div class="col-8">
              <p><strong>Delete all documents:</strong> This deletes all document objects in your project and subsequently all page and tag objects.
              Collections can no longer be edited.</p>
          </div>
          <div class="col-4 text-end">
            <button
              class="btn btn-danger show-danger-modal"
              data-message="Are you sure you want to remove all documents?"
              data-redirect-url="{% url 'twf:reset_remove_all_documents' %}">
              Remove Documents
            </button>
          </div>
        </div>
    
        <!-- Remove All Tags -->
        <div class="row mb-2">
          <div class="col-8">
              <p><strong>Delete all tags:</strong> This deletes all tags. They can be re-extracted from Transkribus document data. </p>
          </div>
          <div class="col-4 text-end">
            <button
              class="btn btn-danger show-danger-modal"
              data-message="Are you sure you want to delete all tags?"
              data-redirect-url="{% url 'twf:reset_remove_all_tags' %}">
              Delete All Tags
            </button>
          </div>
        </div>
    
        <!-- Remove All Collections -->
        <div class="row mb-2">
          <div class="col-8">
              <p><strong>Delete all collections:</strong> This deletes all collections in the project.</p>
          </div>
          <div class="col-4 text-end">
            <button
              class="btn btn-danger show-danger-modal"
              data-message="Are you sure you want to delete all collections?"
              data-redirect-url="{% url 'twf:reset_remove_all_collections' %}">
              Delete All Collections
            </button>
          </div>
        </div>
      </div>
    </form>

{% endblock %}