{% extends 'twf/base/base.html' %}

{% block sub_content %}
    <div>
        <h1 class="display-6">Setup Project</h1>
        <p class="lead">Import Documents from Transkribus or JSON data.</p>
        
        <h2 class="display-6" style="font-size: 2em">Transkribus Import</h2>
        <p>
            To import your documents into the TWF, you'll need to create a Transkribus export.
            This does not work manually, so you'll have to enter your Transkribus credentials 
            and your collection id in the project settings.
            in the <a href="{% url 'twf:project_settings' %}">Project Settings</a> and start an export
            from Transkribus <a href="{% url 'twf:project_tk_export' %}">here</a>. Depending on your collection,
            this may take a while. When the export is finished, you can download it to the server and
            <a href="{% url 'twf:project_tk_structure' %}">extract the Data</a>
        </p>
        <hr/>
        
        <h2 class="display-6" style="font-size: 2em">JSON Import</h2>
        <p>
            You can import a list of json objects. Each object is going to form a document. Each document object
            can contain a list of page objects. The corresponding JSON data is copied to the metadata fields of the
            documents and pages.
        </p>   
        <div class="alert alert-info" role="alert">
            <i class="fas fa-info-circle"></i> Please note that JSON import does not support IIIF functionality and 
            doesn't link to any source collection.
        </div>
        <hr/>
        
        <h2 class="display-6" style="font-size: 2em">Google Sheets Import</h2>
        <p>
            You can import document metadata you have stored in a Google sheet document. You'll need to enter
            the Google sheet id and other necessary settings in the 
            <a href="{% url 'twf:project_settings' %}">Project Settings</a>.
        </p>
        <p>
            Your Documents have an id (which is not the TWF-database id but the id of the transkribus document or if 
            you imported json data the one you provided when importing). This id needs to be present in the Google
            sheets document in order for this to work.
        </p>
        
     </div>
{% endblock %}
