{% extends 'twf/base/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="border rounded bg-light mt-0 p-3">
        <h1 class="display-6">Extract Transkribus Export</h1>
        <p class="lead">This page enables you to extract data downloaded from
            Transkribus and create corresponding database objects.</p>

        {% if not project.job_download_url %}
            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">There is no export</h4>
                <p>
                    You need to request an export and download it first.
                    Please go to the <a href="{% url 'twf:project_tk_export' %}">TK Export</a> page and
                    start an export.
                </p>
            </div>
        {% endif %}

        {% crispy form %}

    </div>
{% endblock %}