{% extends 'twf/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Dictionaries{% endblock %}
{% block heading %}GND Search{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-6 d-flex">
                {% include 'twf/select_dict_type_include.html' %}
            </div>
            <div class="col-6 d-flex">
                {% include 'twf/auth_workflow_include.html' %}
            </div>
        </div>
    
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title">Try to assign <span style="background-color: khaki">{{ next_unauthorized_entry }}</span></h5>
            </div>
            <div class="card-body">
                {% if results %}
                    <h3>Results</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>GND ID</th>
                                <th>Preferred Name</th>
                                <th>Variants</th>
                                <th>Select</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for result in results %}
                                <tr>
                                    <td>{{ result.gnd_identifier }}</td>
                                    <td>{{ result.preferred_name }}</td>
                                    <td>{{ result.variant_names }}</td>
                                    <td>
                                        <form method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="selected_option" value="{{ result.gnd_identifier }}">
                                            <button type="submit" class="btn btn-primary">Select</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
