<div>
    <ul style="list-style-type: none; margin: 0; padding: 0;">
        <li class="nav-item border rounded text-center">
            <a href="{% url 'twf:view_document' record.project.pk record.pk %}" class="text-decoration-none">View</a>
        </li>
        <li class="nav-item border rounded text-center">
            <a href="{{ record.get_transkribus_url }}" target="_blank" class="text-decoration-none">Transkribus</a>
        </li>
        <li class="nav-item border rounded text-center">
            <a href="{% url 'twf:delete_document' record.project.pk record.pk %}" class="text-decoration-none">Delete</a>
        </li>
    </ul>
</div>
