{% extends 'twf/base.html' %}

{% block title %}Home{% endblock %}
{% block heading %}Transkribus Workflow{% endblock %}

{% block content %}
    <p>How to use the Transkribus Workflow Service</p>
    <ul>
        <li>You need an adminîstrator to set up a project for you and create user accounts.</li>
        <li>Once you have an account, you can log and work on projects you are a member of.</li>
        <li>If you don't have a project, you'll need an administrator to create one for you.</li>
        <li>Once you have a project, you can upload page.xml exports from Transkribus.
            <ul>
                <li>Export a <strong>document</strong> from Transkribus.</li>
                <li>Export only PAGE.xml, do not add images.</li>
                <li>Export the files in the format doc-id_page_page-id.xml (Example: "134234_001_34590.xml")</li>
                <li>Upload the zip into your project.</li>
            </ul>
        </li>
        <li>Once you have uploaded a document, you can extract the exported information.
            <ul>
                <li>When you tagged on Transkrinus, the tags are extracted</li>
                <li>Tags are automatically normalized when they are in a dictionary</li>
                <li>The transcriptions are extracted.</li>
                <li>File meta data is extracted</li>
            </ul>
        </li>
        <li>You then can view your documents, pages and tags.</li> 
        <li>You can group and authorize your tags.</li>
    </ul>
{% endblock %}
