{% extends 'twf/base.html' %}

{% block title %}Home{% endblock %}
{% block heading %}{{ project }} - Overview{% endblock %}

{% block content %}
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="card-title">Parked Tags</h5>
        </div>
        <div class="card-body">
            <div class="container">
            {% for tag in parked %}
                <div class="row border">
                    <div class="col-3">
                        {{ tag.variation_type }}
                    </div>
                    <div class="col-6">
                        {{ tag.variation }}
                    </div>
                    <div class="col-3">
                        <a href="{% url 'twf:unpark_tag' tag.id %}" class="btn btn-sm btn-secondary">Un-Park</a>&nbsp;
                        <a href="{{ tag.get_transkribus_url }}" 
                           target="_blank" class="btn btn-sm btn-secondary">Trankribus</a>&nbsp;
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
