{% extends 'twf/base.html' %}
{% load static %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block css %}
<style>
    .progress {
        height: 20px;
    }
    .progress-bar {
        text-align: center;
        line-height: 20px;
    }
    .card-header {
        font-size: 1.2em;
    }
</style>
{% endblock %}

{% block title %}Set Up{% endblock %}
{% block heading %}{{ project }} - Set Up{% endblock %}

{% block content %}
    
    <div class="container mt-4">
        <div class="alert alert-danger">
            This page is for setting up your project. It will import, extract and parse files and might overwrite 
            manual changes you might have made. Be careful with the actions you take.
            <strong>Do not refresh the page while an action is running.</strong>
        </div>
        
        <div class="card">
            <div class="card-header"><strong>Step 1:</strong> Export and Download your data from Transkribus</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <p>Your Transkribus collection id is <strong>{{ project.collection_id }}</strong></p>
                        
                        <div class="mb-3">
                            <label for="transkribusExport" class="form-label">Start a Transkribus export:</label>
                            <input id="transkribusExport" type="button" role="button" class="form-control btn btn-primary" value="Start Export Job" onclick="start_export_job({{ project.pk }})">
                            <div id="transkribusExportHelp" class="form-text text-danger">
                                You have to provide your credentials and have the permissions to export the collection.
                                This is going to start an export job on the Transkribus platform. You'll have to 
                                wait until the job is finished. You can check the status of the job in the Transkribus
                                platform or by clicking the button below.
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="transkribusExportStatus" class="form-label">Check Status of Job:</label>
                            <input id="transkribusExportStatus" type="button"  role="button" class="form-control btn btn-primary" value="Check Export Status" onclick="check_export_status({{ project.pk }})">
                            <div id="transkribusExportStatusHelp" class="form-text text-danger">
                                
                            </div>
                            
                            <div class="col-12 border text-center">Current status: <span id="jobStatus">UNKNOWN</span></div>
                        </div>
                        
                        <div class="mb-3">
                            <label for="transkribusDownload" class="form-label">Download finished job</label>
                            <input id="transkribusDownload" type="button"  role="button" class="form-control btn btn-primary" value="Download Export">
                            <div id="transkribusDownloadHelp" class="form-text text-danger">
                                This will download the finished job from the Transkribus platform.
                                Previous downloads will be overwritten.
                            </div>
                            
                            <div class="col-12 border text-center">
                                <span>Progress:</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" 
                                         style="width: 0%;" id="progressBar" aria-valuenow="0" 
                                         aria-valuemin="0" aria-valuemax="100">0%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <form>
                        <div class="mb-3">
                            <label for="transkribusUsername" class="form-label">Transkribus login:</label>
                            <input type="text" class="form-control" id="transkribusUsername" aria-label="Transkribus user name" placeholder="Enter username" autocomplete="username transkribus">
                            <div id="usernameHelp" class="form-text">Enter your Transkribus username. You must have access to the collection to extract..</div>
                        </div>
                        
                        <div class="mb-3">
                            <label for="transkribusPassword" class="form-label">Transkribus password:</label>
                            <input type="password" class="form-control" id="transkribusPassword" aria-label="Transkribus password" placeholder="Enter password" autocomplete="current-password transkribus">
                            <div id="passwordHelp" class="form-text">This information is not saved.</div>
                        </div>
                        </form>
                        <div class="mb-3 mt-5">
                            <button class="btn btn-outline-danger">Reset Export Process</button>
                            <div id="resetHelp" class="form-text">
                                If you want to trigger a new export, you'll need to repeat all the following steps.
                                No tag grouping or dictionary is affected by this action and (if possible) the previous
                                database objects will be preserved, but manual metadata changes might be overwritten.<br/>
                                Pressing this button will delete the current zip-download and reset the export status,
                                so you can request a new export.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container mt-4">
        <div class="card">
            <div class="card-header"><strong>Step 2:</strong> Extract the downloaded data</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="extractZip" class="form-label">Extract files from zip and create database objects</label>
                            <input id="extractZip" type="button"  role="button" class="form-control btn btn-primary" value="Extract Downloaded Data">
                            <div id="transkribusDownloadHelp" class="form-text text-danger">
                                Depending on the number of your documents, this can take a long time.
                            </div>
                            
                            <div class="col-12 border text-center">
                                <span>Progress:</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" 
                                         style="width: 0%;" id="extractProgressBar" aria-valuenow="0" 
                                         aria-valuemin="0" aria-valuemax="100">0%</div>
                                </div>
                            </div>
                            
                            <div class="col-12">
                                <textarea id="extractionLog" style="width: 100%" rows="10"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container mt-4">
        <div class="card">
            <div class="card-header"><strong>Step 3:</strong> Extract tags from data</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="extractTags" class="form-label">Extract tags, assign them and create database objects</label>
                            <input id="extractTags" type="button"  role="button" class="form-control btn btn-primary" value="Extract Tags From Pages">
                            <div id="extractTagsHelp" class="form-text text-danger">
                                Depending on the number of your documents, this can take a long time.
                            </div>
                            
                            <div class="col-12 border text-center">
                                <span>Progress:</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" 
                                         style="width: 0%;" id="extractTagsProgressBar" aria-valuenow="0" 
                                         aria-valuemin="0" aria-valuemax="100">0%</div>
                                </div>
                            </div>
                            
                            <div class="col-12">
                                <textarea id="tagsExtractionLog" style="width: 100%" rows="10"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container mt-4">
        <div class="card">
            <div class="card-header"><strong>Step 4:</strong> Extract Document metadata from Google docs (optional)</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        {% crispy form %}
                        <div class="mb-3">
                            <label for="extractMetadata" class="form-label">Extract metadata and save it to documents.</label>
                            <input id="extractMetadata" type="button"  role="button" class="form-control btn btn-primary" value="Extract Metadata from Google Docs">
                            <div id="extractTagsHelp" class="form-text text-danger">
                                Depending on the size of your Google document, this can take a long time.
                            </div>
                            
                            <div class="col-12 border text-center">
                                <span>Progress:</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" 
                                         style="width: 0%;" id="extractMetadataProgressBar" aria-valuenow="0" 
                                         aria-valuemin="0" aria-valuemax="100">0%</div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <h5>How To Use</h5>
                            <ul>
                                <li>You can extract additional Metadata from a <strong>Google Sheets Document</strong>.</li>
                                <li>Give <strong>Editor Permissions</strong> to the user <u>transkribusworkflow@transkribusworkflow.iam.gserviceaccount.com</u></li>
                                <li>Copy your <strong>Google-sheet-ID</strong> from the Google-URL (after <i>spreadsheet/d/</i> until the next slash) into the form to the left.</li>
                                <li>Enter the <strong>Range</strong> of the Google-Sheet you want to read out.
                                    <ul>
                                        <li><strong>Format:</strong> <code>Sheet-name!FirstCell:LastCell</code></li>
                                        <li><strong>Example:</strong> <code>MySheet!A1:D55</code><br/>(<small>From the sheet named 'MySheet' the area from A1 to D55. 
                                            The first row has to be the title row, the subsequent rows are the data. 
                                            In this example you have 54 data rows with four columns each.)</small></li>
                                        <li><strong>First row</strong> (row <code>A</code> in the above example) is the title row. 
                                            Its values will be the keys of your metadata. 
                                            You need to set the name of the column where your <strong>Transkribus Document IDs</strong> are stored 
                                            (meaning, typically, the value of the cell A1, for example: <code>doc_id</code>).</li>
                                    </ul>
                                </li>
                                <li>The metadata for each found document is set for all the columns in the range. 
                                    You might want to specify which columns you want to import. You can do so by providing 
                                    the <strong>valid title row values</strong> as coma separated list.</li>
                                <li>Click the <strong>Save</strong> button to save your preferences to the project.</li> 
                                <li>Click the <strong>Extract Metadata</strong> button to start the process. 
                                     If possible, avoid selecting very large ranges.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container mt-4 mb-4">
        <div class="card">
            <div class="card-header"><strong>Step 5:</strong> Review your Documents and start Grouping tags</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        Go to the <a href="{% url 'twf:project_overview' project.pk %}">Project Overview</a> to
                        see statistics about your imported documents. You can review your documents in the
                        <a href="{% url 'twf:documents' project.pk %}">Documents</a> section and start grouping
                        tags by type by selecting the type.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            // Translate context data to javascript
            let tk_job_id = '{{ project.transkribus_job_id }}';
            let tk_job_status = '{{ project.job_download_url }}';
            let tk_download_url = '{{ project.downloaded_zip_file }}';
            let has_job_id = !isNaN(Number(tk_job_id));
            let has_download_url = tk_download_url !== '';
            
            let startExportButton = $('#transkribusExport');
            let checkStatusButton = $('#transkribusExportStatus');
            let startDownloadButton = $('#transkribusDownload');
            let exportJobStatus = $('#jobStatus');
            
            let downloadProgress = $('#progress');
            let downloadProgressBar = $('#progressBar');
            
            // If there is a transkribus job id, disable the export button
            // and enable the status button
            if(has_job_id){
                // Disable Start Export Job button
                startExportButton.prop('disabled', true);
                
                if(has_download_url) {
                    checkStatusButton.prop('disabled', true);
                    exportJobStatus.text('FINISHED');
                    startDownloadButton.prop('disabled', false);
                    
                    downloadProgress.text('Progress: 100%');
                    downloadProgressBar.css('width', '100%').attr('aria-valuenow', 100).text('100%');
                }
                else {
                    checkStatusButton.prop('disabled', false);
                    exportJobStatus.text('Unknown');
                    startDownloadButton.prop('disabled', true);
                }
                
            }
            // Otherwise (no job id), enable the export button and disable the status button
            else {
                startExportButton.prop('disabled', false);
                exportJobStatus.prop('disabled', true);
                startDownloadButton.prop('disabled', true);
            }
            
            startDownloadButton.click(function() {
                $('#progress').text('Progress: 0%');
                // Start the download process
                $.ajax({
                    url: '/ajax/transkribus/export/start/download/' + '{{ project.pk }}' + '/', 
                    success: function(data) {
                        console.log(data);
                        updateProgress();
                    }
                });
            });

            function updateProgress() {
                $.ajax({
                    url: '/ajax/transkribus/export/monitor/download/',
                    success: function(data) {
                        console.log(data);
                        $('#progress').text('Progress: ' + data.progress.toFixed(2) + '%');
                        $('#progressBar').css('width', data.progress + '%').attr('aria-valuenow', data.progress).text(data.progress + '%');
                        if (data.progress < 100) {
                            setTimeout(updateProgress, 1000);
                        }
                        else {
                            $('#progress').text('Progress: 100%');
                            $('#progressBar').css('width', '100%').attr('aria-valuenow', 100).text('100%');
                            startDownloadButton.prop('disabled', true);
                        }
                    }
                });
            }
            
            // --
            $("#extractZip").click(function() {
                console.log('Extracting data');
                $('#extractionLog').text('');
                 monitorProgress();  // Monitor progress using SSE
                
                // Start the extraction process
                $.ajax({
                    url: '/ajax/transkribus/extract/' + '{{ project.pk }}' + '/',
                    success: function(data) {
                        console.log("SUCCESS", data);
                       
                    },
                    error: function(data) {
                        console.log("ERROR", data);
                    }
                });
            });
            
            function monitorProgress() {
                // Initialize an EventSource
                const evtSource = new EventSource('/ajax/transkribus/extract/monitor/' + '{{ project.pk }}' + '/');
                evtSource.onmessage = function(event) {
                    //console.log('Current progress:', event.data);
                    let progress = parseInt(event.data); // Assuming progress data is a simple integer
                    if (progress >= 100) {
                        evtSource.close();  // Close the event source if the progress is 100
                        console.log('Extraction completed');
                    }
                    $('#extractProgressBar').css('width', progress + '%').attr('aria-valuenow', progress).text(progress + '%');
                };
            
                evtSource.onerror = function() {
                    console.log('EventSource failed.');
                    evtSource.close();  // Close the event source on error
                };
                
                const evtDetailSource = new EventSource('/ajax/transkribus/extract/monitor/' + '{{ project.pk }}' + '/details/');
                evtDetailSource.onmessage = function(event) {
                    let detailArea = $('#extractionLog');
                    // console.log('Current details:', event.data);
                    let new_text = event.data.replace(/---/g, '\n');
                    detailArea.append(new_text + '\n');
                    detailArea.scrollTop(detailArea.prop('scrollHeight'));
                };
            
                evtDetailSource.onerror = function() {
                    console.log('Details failed.');
                    evtDetailSource.close();  // Close the event source on error
                };
            }
            
            //------------------------------------------------------------------------------------------------
            $("#extractTags").click(function() {
                //console.log('Extracting data');
                $('#tagsExtractionLog').text('');
                 monitorTagsProgress();  // Monitor progress using SSE
                
                // Start the extraction process
                $.ajax({
                    url: '/ajax/transkribus/extract/tags/' + '{{ project.pk }}' + '/',
                    success: function(data) {
                        console.log("SUCCESS", data);
                       
                    },
                    error: function(data) {
                        console.log("ERROR", data);
                    }
                });
            });
            
            function monitorTagsProgress() {
                // Initialize an EventSource
                const evtSource = new EventSource('/ajax/transkribus/extract/tags/monitor/' + '{{ project.pk }}' + '/');
                evtSource.onmessage = function(event) {
                    //console.log('Current progress:', event.data);
                    let progress = parseInt(event.data); // Assuming progress data is a simple integer
                    if (progress >= 100) {
                        evtSource.close();  // Close the event source if the progress is 100
                        console.log('Extraction completed');
                    }
                    $('#extractTagsProgressBar').css('width', progress + '%').attr('aria-valuenow', progress).text(progress + '%');
                };
            
                evtSource.onerror = function() {
                    console.log('EventSource failed.');
                    evtSource.close();  // Close the event source on error
                };
                
                const evtDetailSource = new EventSource('/ajax/transkribus/extract/tags/monitor/' + '{{ project.pk }}' + '/details/');
                evtDetailSource.onmessage = function(event) {
                    let detailArea = $('#tagsExtractionLog');
                    // console.log('Current details:', event.data);
                    let new_text = event.data.replace(/---/g, '\n');
                    detailArea.append(new_text + '\n');
                    detailArea.scrollTop(detailArea.prop('scrollHeight'));
                };
            
                evtDetailSource.onerror = function() {
                    console.log('Details failed.');
                    evtDetailSource.close();  // Close the event source on error
                };
            }
            
            //------------------------------------------------------------------------------------------------
            $("#extractMetadata").click(function() {
                //console.log('Extracting data');
                 monitorMetadataProgress();  // Monitor progress using SSE
                
                // Start the extraction process
                $.ajax({
                    url: '/ajax/transkribus/extract/metadata/' + '{{ project.pk }}' + '/',
                    success: function(data) {
                        console.log("SUCCESS", data);
                       
                    },
                    error: function(data) {
                        console.log("ERROR", data);
                    }
                });
            });
            
            function monitorMetadataProgress() {
                // Initialize an EventSource
                const evtSource = new EventSource('/ajax/transkribus/extract/metadata/monitor/' + '{{ project.pk }}' + '/');
                evtSource.onmessage = function(event) {
                    //console.log('Current progress:', event.data);
                    let progress = parseInt(event.data); // Assuming progress data is a simple integer
                    if (progress >= 100) {
                        evtSource.close();  // Close the event source if the progress is 100
                        console.log('Extraction completed');
                    }
                    $('#extractMetadataProgressBar').css('width', progress + '%').attr('aria-valuenow', progress).text(progress + '%');
                };
            
                evtSource.onerror = function() {
                    console.log('EventSource failed.');
                    evtSource.close();  // Close the event source on error
                };
            }
        });
    </script>
	<script src="{% static 'twf/js/transkribus_collector.js' %}" type="text/javascript"></script>
{% endblock %}
