<div class="card mb-3 w-100">
    <div class="card-header">
        <h6 class="card-title">Select Dictionary Type</h6>
    </div>
    <div class="card-body">
        {% for type in dict_types %}
            {% if type == selected_type %}
                <a href="" class="btn btn-sm btn-secondary disabled">{{ type }}</a>
            {% else %}
                <a href="?dict_type={{ type }}" class="btn btn-sm btn-outline-secondary">{{ type }}</a>
            {% endif %}
        {% endfor %}
    </div>
</div>