{% load nav_tags %}

<nav id="sidebarMenu" class="col-2 bg-light sidebar">
    <div class="position-sticky">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-1 mt-1 mb-1 text-muted">
            <span>Authorization Workflows</span>
        </h6>
        <ul class="nav flex-column">
            <li class="nav-item small border mb-1 {% active 'auth_manual' %}">
                    <a class="nav-link px-2 py-1 {% active 'auth_manual' %}" href="{% url 'twf:auth_manual' %}">
                        Manual
                    </a>
            </li>
            <li class="nav-item small border mb-1 {% active 'auth_wikidata' %}">
                    <a class="nav-link px-2 py-1 {% active 'auth_wikidata' %}" href="{% url 'twf:auth_wikidata' %}">
                        Wikidata
                    </a>
            </li>
            <li class="nav-item small border mb-1 {% active 'auth_geonames' %}">
                    <a class="nav-link px-2 py-1 {% active 'auth_geonames' %}" href="{% url 'twf:auth_geonames' %}">
                        Geonames
                    </a>
            </li>
            <li class="nav-item small border mb-1 {% active 'auth_gnd' %}">
                    <a class="nav-link px-2 py-1 {% active 'auth_gnd' %}" href="{% url 'twf:auth_gnd' %}">
                        GND
                    </a>
            </li>
        </ul>
        
        
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-1 mt-1 mb-1 text-muted">
            <span>Dictionaries</span>
        </h6>

        <ul class="nav flex-column">
            {% for d in dictionaries %}
                <li class="nav-item small border mb-1 {% active 'project' %}">
                    <a class="nav-link px-2 py-1 {% active 'dictionary' d.id %}" href="{% url 'twf:dictionary' d.id %}">
                        {{ d.label }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>