{% extends 'twf/base/base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}
    <h1>Edit {{ entry.label }}</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Variation</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for variation in entry.variations.all %}
                    <tr>
                        <td>{{ variation }}</td>
                        <td>
                            <a href="{% url 'twf:dictionaries_delete_variation' variation.pk %}" class="btn btn-outline-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% crispy form %}
    
{% endblock %}
