{% extends 'twf/base/info_card.html' %}

{% block title %}
    Dictionaries Overview
{% endblock %}

{% block info_text %}
    Dictionaries consist of structured entries and are categorized by type. Each entry can have multiple variations, 
    often derived from tags through a grouping wizard. Additionally, entries can be enriched with authorization data, 
    such as GND and Geonames, allowing for more accurate and standardized references within the project.
{% endblock %}

{% block number_1 %}
    
{% endblock %}

{% block number_1_label %}
    
{% endblock %}

{% block number_2 %}
   {{ project.selected_dictionaries.count }}
{% endblock %}

{% block number_2_label %}
    Dictionaries
{% endblock %}

{% block number_3 %}
    
{% endblock %}

{% block number_3_label %}
    
{% endblock %}