{% extends 'twf/base/info_card.html' %}

{% block info_text %}
    Dictionaries consist of structured entries and are categorized by type. Each entry can have multiple variations, 
    often derived from tags through a grouping wizard. Additionally, entries can be enriched with authorization data, 
    such as GND and Geonames, allowing for more accurate and standardized references within the project.
{% endblock %}

{% block number_1 %}
    {{ dict_stats.total_dictionaries }}
{% endblock %}

{% block number_1_label %}
    Dictionaries
{% endblock %}

{% block number_2 %}
   {{ dict_stats.mostly_referenced_category }}
{% endblock %}

{% block number_2_label %}
    Mostly Referenced Category
{% endblock %}

{% block number_3 %}
    {{ dict_stats.mostly_referenced_entry.dictionary_entry__label }}
{% endblock %}

{% block number_3_label %}
    Mostly Referenced Entry
{% endblock %}