{% extends 'twf/base/base.html' %}
{% load nav_tags %}

{% block content %}
     {% include 'twf/dictionaries/info_card_dictionaries.html' %}

     {% for dtype, entries in dict_stats.top_entries_per_type.items %}
        <div class="row">
            <div class="col-8">
                 <div class="table-responsive">
                     <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th style="width: 70%">Dictionary Entries of Type {{ dtype }}</th>
                                <th>used # times</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in entries %}
                                <tr>
                                    <td>{{ entry.dictionary_entry__label }}</td>
                                    <td>{{ entry.count }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                     </table>
                 </div>
            </div>
            <div class="col-4">
                {% if dtype %}
                    <canvas id="myPieChart-{{ dtype }}" width="400" height="400"></canvas>
                    <script>
                        var ctx = document.getElementById('myPieChart-{{ dtype }}').getContext('2d');
                        var myPieChart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: [{% for entry in entries|limit_to:10 %}'{{ entry.dictionary_entry__label }}',{% endfor %}],
                                datasets: [{
                                    data: [{% for entry in entries|limit_to:10 %}{{ entry.count }},{% endfor %}],
                                    backgroundColor: [{% for entry in entries %}'{% any_value_to_color entry.count %}',{% endfor %}],
                                    borderColor: [{% for entry in entries|limit_to:10 %}'black',{% endfor %}]
                                }]
                            },
                            options: {
                                plugins: {
                                    title: {
                                        display: true,
                                        text: '{{dtype|title}}',
                                        font: {
                                            size: 18
                                        },
                                        padding: {
                                            top: 10,
                                            bottom: 10
                                        },
                                        color: '#111'  // You can set the color of the title text if you like
                                    },
                                    legend: {
                                        display: false
                                    }
                                },
                                responsive: true
                            }
                        });
                    </script>
                {% endif %}
            </div>
        </div>
     {% endfor %}
{% endblock %}