{% extends 'twf/base/base.html' %}

{% block sub_content %}
     <div class="border rounded bg-light mt-0 p-3">
        <h1 class="display-6">Collections</h1>
        <p class="lead">Create a new collection</p>
        
     {% for col in collections %}
         {{ col }}
         {{ col.items.all }}
         <div class="row">
             <div class="col-3">
                 <a href="{% url 'twf:collections_view' col.id %}" class="btn btn-dark">View</a>
             </div>
             <div class="col-3">
                 <a href="{% url 'twf:project_collections_add_document' col.id %}" class="btn btn-dark">Add Document</a>
             </div>
             <div class="col-3">
                 <a href="{% url 'twf:project_collection_review' col.id %}" class="btn btn-dark">Review Collection</a>
             </div>
             <div class="col-3">
                 <a href="{% url 'twf:collections_view' col.id %}" class="btn btn-danger float-end">Delete</a>
             </div>
         </div>
     {% endfor %}
     </div>
{% endblock %}