{% extends 'twf/base/base.html' %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% load twf_filters %}

{% block content %}
<div class="border rounded bg-light mt-0 p-3">
    <h1 class="display-6">Collection: {{ collection.title }}</h1>
    <p class="lead">Your collection has <strong>{{ table.paginator.count }}</strong> items.</p>
    
    <!-- Filter Form -->
    {% twf_filter filter %}
    
    <div class="table-responsive">
        {% render_table table %}
    </div>
</div>
{% endblock %}

{% block script %}
    <script>
        document.addEventListener('click', function (event) {
            if (event.target.matches('tr[data-bs-toggle="collapse"]')) {
                const icon = event.target.querySelector('.collapse-icon');
                if (icon) {
                    icon.textContent = icon.textContent === '+' ? '−' : '+';
                }
            }
        });
    </script>
{% endblock %}