{% extends 'twf/base/info_card.html' %}

{% block info_text %}
    Collections allow users to group and organize entire documents or specific parts of documents. 
    These custom collections can be saved and used for easy reference, enabling more focused analysis 
    and export of selected content.
{% endblock %}

{% block number_1 %}
    {{ project.collections.count }}
{% endblock %}

{% block number_1_label %}
    Collection(s)
{% endblock %}

{% block number_2 %}
    {{ open_workflows }}
{% endblock %}

{% block number_2_label %}
    Open Workflows
{% endblock %}

{% block number_3 %}
    {{ percentage_reviewed|floatformat:2 }}%
{% endblock %}

{% block number_3_label %}
    % Reviewed
{% endblock %}