{% extends 'twf/base/base.html' %}
{% load twf_permissions %}
{% load twf_filters %}
{% load render_table from django_tables2 %}

{% block page_title %}
    <h1>Manage Projects</h1>
{% endblock %}

{% block content %}
    <p class="lead">This view allows you to delete and close projects.</p>

    {% twf_filter filter %}

    <div class="table-responsive-sm mt-3">
        <div class="card">
            <div class="card-body p-0">
                {% render_table table %}
            </div>
        </div>
    </div>
{% endblock %}