{% extends 'twf/base/base.html' %}

{% block content %}
    <h1>Work on "{{ project_to_select.title }}"</h1>
    <p class="lead">Your role in this project: <strong>{{ user_role }}</strong></p>

     <form method="post" action="{% url 'twf:project_do_select' project_to_select.pk %}">
        {% csrf_token %}
        {% if project and project.id == project_to_select.id %}
            <button type="submit" class="btn btn-dark" disabled>{{ project_to_select.title }} is already selected</button>
         {% else %}
            <button type="submit" class="btn btn-dark">Select {{ project_to_select.title }}</button>
         {% endif %}
    </form>
{% endblock %}