{% extends 'twf/base/base_ai_batch.html' %}

{% block script %}
    {{ block.super }}

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script>
        function format_ai_result(data) {
            let text = data?.candidates?.[0]?.content?.parts?.[0]?.text || "No response text.";

            let aiResultHTML = `
                <h2>Gemini AI Result</h2>
                <div class="card mt-3">
                    <div class="card-body">
                        <div>${marked.parse(text)}</div>
                    </div>
                </div>`;

            $("#ai_result").html(aiResultHTML);
        }
    </script>
{% endblock %}