{% extends 'twf/base/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
     <div class="border rounded bg-light mt-0 p-3">
        <h1 class="display-6">Extract Controlled Values</h1>
        <p class="lead">Extract controlled vocabulary from metadata</p>
         
         <!-- Info box -->
        <div class="alert alert-info">
            <small>This is a small info box explaining how to use a feature.</small>
        </div>
         
        <div class="row">
            <div class="col-12">
                {% crispy form %}
            </div>
        </div>
     </div>
{% endblock %}