{% extends 'twf/base/info_card.html' %}

{% block info_text %}
    Metadata in this tool refers to additional data that is layered on top of the core documents, 
    such as those imported from Transkribus or any PAGE.XML format. Both the project, individual documents, 
    and pages can have associated metadata. This metadata can be imported from JSON files or Google Sheets 
    (with CSV import support coming soon). Examples of metadata include ChatGPT batches or authorization data 
    from dictionaries.
{% endblock %}

{% block number_1 %}
    {{ doc_count }}
{% endblock %}

{% block number_1_label %}
    Documents with Metadata
{% endblock %}

{% block number_2 %}
    {{ page_count }}
{% endblock %}

{% block number_2_label %}
    Pages with Metadata
{% endblock %}

{% block number_3 %}
    {{ doc_coverage }} %
{% endblock %}

{% block number_3_label %}
    Json Metadata Coverage
{% endblock %}