{% extends 'twf/base/base.html' %}
{% load crispy_forms_tags %}
{% load nav_tags %}

{% block content %}
    <p class="lead">You are reviewing document <code>db_id={{ document.id }}</code> with the document_id <code>{{ document.document_id }}</code></p>
    <p class="small">
        This document was created by <strong>{{ document.created_by }}</strong> at <i>{{ document.created_at }}</i>.
        It was last modified by <strong>{{ document.modified_by }}</strong> at <i>{{ document.modified_at }}</i>.
    </p>
    <div class="row">
        <div class="col-6">
            {% crispy form %}
        </div>
        <div class="col-6">
            {% for page in document.pages.all %}
                <img src="{{ page.parsed_data.file.imgUrl }}" class="img-fluid img-clickable" alt="Page image">
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            Raw data:<br/> <code>{{ document.metadata|pretty_json }}</code>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            $('#review-form input').on('input', function() {
                var inputField = $(this);
                var fieldName = inputField.attr('name');
                var fieldValue = inputField.val();
                
                // Make an AJAX call to validate the field
                $.ajax({
                    url: '/validate_document_field/',  // Define your validation URL
                    method: 'POST',
                    data: {
                        field_name: fieldName,
                        field_value: fieldValue,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(response) {
                        var feedback = $('#' + fieldName + '-feedback');
                        if (response.is_valid) {
                            feedback.html('<span class="text-success">&#10004;</span>'); // Tick
                        } else {
                            feedback.html('<span class="text-danger">&#10008;</span>'); // Cross
                        }
                    }
                });
            });
        });
        
        $('#review-form input').each(function() {
            let inputField = $(this);
            let feedback = $('#' + inputField.attr('name') + '-feedback');
            if (inputField.hasClass('is-invalid')) {
                feedback.html('<span class="text-danger">&#10008;</span>'); // Cross
            } else if (inputField.val()) {
                feedback.html('<span class="text-success">&#10004;</span>'); // Tick
            }
        });
        
        document.addEventListener('DOMContentLoaded', function () {
            const images = document.querySelectorAll('.img-clickable');
            
            images.forEach(function (img) {
                img.addEventListener('click', function () {
                    if (img.classList.contains('img-enlarged')) {
                        // If image is enlarged, restore its original size
                        img.classList.remove('img-enlarged');
                    } else {
                        // If image is normal, enlarge it
                        img.classList.add('img-enlarged');
                    }
                });
            });
        });
    </script>
{% endblock %}