{% extends 'twf/base/base.html' %}

{% block content %}
        <h1>Export Page Tags</h1>
        <p class="lead">Export all page tags in the project.</p>

        <form method="post">
            {% csrf_token %}
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td>
                            <div class="d-flex justify-content-between">
                                <input type="submit" class="btn btn-dark flex-fill" value="Export as JSON" name="export_json">
                            </div>
                        </td>
                        <td>
                            This will export the page tags as a JSON file. This includes all usage information. 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex justify-content-between">
                                <input type="submit" class="btn btn-dark flex-fill" value="Export as CSV" name="export_csv">
                            </div>
                        </td>
                        <td>
                            This will export the page tags as a CSV file. This includes all usage information.
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
{% endblock %}
