{% extends 'twf/base/base.html' %}


{% block content %}
     <div class="border rounded bg-light mt-0 p-3">
        <h1 class="display-6">Existing Exports</h1>
        <p class="lead">See and download the existing exports.</p>
        {% for item in exports %}
            <div class="border rounded bg-light mt-0 p-3">
                {% if item.export_type == 'documents' %}
                    <h2>Document Export</h2>
                {% elif item.export_type == 'pages' %}
                    <h2>Page Export</h2>
                {% elif item.export_type == 'collection' %}
                    <h2>Collection Export</h2>
                {% else %}
                    <h2>Unknown export type</h2>
                {% endif %}
                <p>
                    This export has been created on {{ item.created_at }} by {{ item.created_by }}.
                </p>
                <a href="{{ item.export_file.url }}" class="btn btn-primary">Download</a>
                <a href="{{ item.export_file.url }}" class="btn btn-danger">Delete</a>
            </div>
            {{ item }}
        {% endfor %}
     </div>
{% endblock %}