{% extends 'twf/base/base.html' %}
{% load crispy_forms_tags %}
{% load nav_tags %}

{% block content %}
    <p class="lead">This is a sample of the data that will be exported for each item in your project.</p>
    <p><strong>Configuration:</strong> {{ export_conf.name }}</p>

    {% for key, value in sample_data.items %}
        <div class="card mb-3">
            <div class="card-header">{{ key }}</div>
            <div class="card-body">
                <code>
                    {{ value|pretty_json }}
                </code>
            </div>
        </div>
    {% endfor %}

{% endblock %}