{% extends 'twf/base/base.html' %}
{% load django_tables2 %}

{% block content %}
     <div class="border rounded bg-light mt-0 p-3">
        <h1 class="display-6">Permissions</h1>
        <p class="lead">Manage permissions for each user</p>
        <form method="post">
            {% csrf_token %}
            {% render_table table %}
            <div class="w-100 text-end">
                <button type="submit" class="btn btn-dark disabled">Save</button>
            </div>
        </form>
     </div>
{% endblock %}