{% extends 'twf/base/base.html' %}
{% load crispy_forms_tags %}
{% load twf_permissions %}

{% block content %}
    <p class="lead">Update your profile information and view your project permissions.</p>

    {% crispy form %}

    <h1>Your Permissions</h1>
    {% if user.profile.get_projects %}
     {% for proj in user.profile.get_projects %}
        <div class="border rounded bg-white mt-3 p-3">
            <h5 class="mb-3">{{ proj.title }}</h5>
            {% show_user_permissions user.profile proj %}
        </div>
     {% endfor %}
    {% else %}
        <p class="lead">You are not a member of any projects.</p>
    {% endif %}

{% endblock %}
