{% extends 'twf/base/base.html' %}
{% load crispy_forms_tags %}
{% load twf_permissions %}

{% block content %}

    <h1>Your Profile</h1>
    {% crispy form %}

    <h1>Your Permissions</h1>
    {% if user.profile.get_projects %}
     {% for proj in user.profile.get_projects %}
        <div class="border rounded bg-white mt-3 p-3">
            <p><strong>{{ proj.title }}</strong></p>
            {% project_permissions user.profile proj as perms %}
            {% if perms %}
                {% for perm in perms %}
                    <span class="badge bg-info">{{ perm }}</span>
                {% endfor %}
            {% else %}
                <span class="badge bg-danger">No permissions</span>
            {% endif %}
        </div>
     {% endfor %}
    {% else %}
        <p class="lead">You have no projects.</p>
    {% endif %}

{% endblock %}
