{% extends 'main/base.html' %}
{% load django_tables2 %}

{% block title %}Dictionary{% endblock %}
{% block heading %}Dictionary - {{ dictionary.label }}{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row mb-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                       This dictionary has {{ dictionary.entries.all.count }} entries.
                    </div>
                </div>
            </div>
        </div>

        {% include 'main/filter.html' %}
        {% render_table table %}
    </div>
{% endblock %}
