{% extends 'main/base.html' %}
{% load render_table from django_tables2 %}

{% block title %}Overview{% endblock %}
{% block heading %}{{ project }} - Overview{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-6">
                
                <!-- CARD -->
                <div class="card mt-3">
                    <div class="card-header">Transkribus Collection Data</div>
                    <div class="card-body">
                        <div class="table-responsive"> <!-- Responsive table wrapper -->
                            <table class="table table-bordered table-striped table-hover">
                                <tbody>
                                    <tr>
                                        <th>Collection ID</th>
                                        <td>{{ project.collection_id }}</td>
                                    </tr>
                                    <tr>
                                        <th>Transkribus Job ID</th>
                                        <td>{{ project.transkribus_job_id }}</td>
                                    </tr>
                                    <tr>
                                        <th>Job Download URL</th>
                                        <td><a href="{{ project.job_download_url }}" target="_blank">{{ project.job_download_url|truncatechars:25 }}</a></td>
                                    </tr>
                                    <tr>
                                        <th>Downloaded At</th>
                                        <td>{{ project.downloaded_at }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
                 <!-- CARD -->
                <div class="card mt-3">
                    <div class="card-header">Project Statistics</div>
                    <div class="card-body">
                        <div class="table-responsive"> <!-- Responsive table wrapper -->
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Statistic</th>
                                        <th>Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Document Count</th>
                                        <td>{{ stats.document_count }}</td>
                                    </tr>
                                    <tr>
                                        <th>Page Count</th>
                                        <td>{{ stats.page_count }}</td>
                                    </tr>
                                    <tr>
                                        <th>Ignored Pages</th>
                                        <td>{{ stats.ignored_pages }}</td>
                                    </tr>
                                    <tr>
                                        <th>Ignored %</th>
                                        <td>{{ stats.ignored_percentage|floatformat:2 }}%</td>
                                    </tr>
                                    <tr>
                                        <th>Largest Document (most pages)</th>
                                        <td>{{ stats.largest_document.title }} ({{ stats.largest_document.num_pages }} pages)</td>
                                    </tr>
                                    <tr>
                                        <th>Smallest Document (least pages)</th>
                                        <td>{{ stats.smallest_document.title }} ({{ stats.smallest_document.num_pages }} pages)</td>
                                    </tr>
                                    <tr>
                                        <th>PageTag Count</th>
                                        <td>{{ stats.pagetag_count }}</td>
                                    </tr>
                                    <tr>
                                        <th>Unique PageTag Count</th>
                                        <td>{{ stats.unique_pagetag_count }}</td>
                                    </tr>
                                    <tr>
                                        <th>Average PageTags per Document</th>
                                        <td>{{ stats.average_pagetags_per_document|floatformat:2 }}</td>
                                    </tr>
                                    <tr>
                                        <th>Median PageTags per Document</th>
                                        <td>{{ stats.median_pagetags_per_document }}</td>
                                    </tr>
                                    <tr>
                                        <th>Total PageTags</th>
                                        <td>{{ stats.total_pagetags }}</td>
                                    </tr>
                                    <tr>
                                        <th>PageTags with Dictionary Entry</th>
                                        <td>{{ stats.pagetags_with_dictionaryentry }}</td>
                                    </tr>
                                    <tr>
                                        <th>Percentage of PageTags with Dictionary Entry</th>
                                        <td>{{ stats.percentage_with_dictionaryentry|floatformat:2 }}%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
                 <!-- CARD -->
                <div class="card mt-3">
                    <div class="card-header">Project Statistics</div>
                    <div class="card-body">
                        <div class="table-responsive"> <!-- Responsive table wrapper -->
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Statistic</th>
                                        <th>Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dtype, entries in stats.most_used_entries_per_type.items %}
                                    <tr>
                                        <th colspan="2">{{ dtype }}</th>
                                    </tr>
                                    {% for entry in entries %}
                                    <tr>
                                        <td>{{ entry.dictionary_entry__label }}</td>
                                        <td>{{ entry.count }} times</td>
                                    </tr>
                                    {% endfor %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6">
                
                <!-- CARD -->
                <div class="card mt-3">
                    <div class="card-header">TWF Project Metadata</div>
                    
                    <div class="card-body">
                        <div class="table-responsive"> <!-- Responsive table wrapper -->
                            <table class="table table-bordered table-striped table-hover">
                                <tbody>
                                    <tr>
                                        <th>Title</th>
                                        <td>{{ project.title }}</td>
                                    </tr>
                                    <tr>
                                        <th>Description</th>
                                        <td>{{ project.description }}</td>
                                    </tr>
                                    <tr>
                                        <th>Owner</th>
                                        <td>{{ project.owner }}</td>
                                    </tr>
                                    <tr>
                                        <th>Members</th>
                                        <td>
                                            {% for member in project.members.all %}
                                                {{ member }}
                                                {% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Created At</th>
                                        <td>{{ project.created_at }}</td>
                                    </tr>
                                    <tr>
                                        <th>Modified At</th>
                                        <td>{{ project.modified_at }}</td>
                                    </tr>
                                    <tr>
                                        <th>Dictionary Translations</th>
                                        <td>{{ project.tag_type_translator }}</td>
                                    </tr>
                                    <tr>
                                        <th>Ignored Tag Types</th>
                                        <td>{{ project.ignored_tag_types }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
                <!-- CARD -->
                <div class="card mt-3">
                    <div class="card-header">Google Sheet Connection</div>
                        
                    <div class="card-body">
                        <div class="table-responsive"> <!-- Responsive table wrapper -->
                            <table class="table table-bordered table-striped table-hover">
                                <tbody>
                                    <tr>
                                        <th>Google Sheet ID</th>
                                        <td>{{ project.metadata_google_sheet_id }}</td>
                                    </tr>
                                    <tr>
                                        <th>Sheet Range</th>
                                        <td>{{ project.metadata_google_sheet_range }}</td>
                                    </tr>
                                    <tr>
                                        <th>Transkribus Doc ID Column</th>
                                        <td>{{ project.metadata_google_doc_id_column }}</td>
                                    </tr>
                                    <tr>
                                        <th>Document Title Column</th>
                                        <td>{{ project.metadata_google_title_column }}</td>
                                    </tr>
                                    <tr>
                                        <th>Valid Columns</th>
                                        <td>{{ project.metadata_google_valid_columns }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
               </div>
            
                <!-- CARD -->
                <div class="card mt-3">
                    <div class="card-header">Type statistics</div>
                        
                    <div class="card-body">
                        <div class="table-responsive"> <!-- Responsive table wrapper -->
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Variation Type</th>
                                        <th>Count</th>
                                        <th>Percentage</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for variation in stats.variation_type_counts %}
                                    <tr>
                                        <td>{{ variation.variation_type }}</td>
                                        <td>{{ variation.count }}</td>
                                        <td>{{ variation.percentage|floatformat:2 }}%</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
    
{% endblock %}
