{% load nav_tags %}

<nav id="sidebarMenu" class="col-2 bg-light sidebar">
    <div class="position-sticky">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-1 mt-1 mb-1 text-muted">
            <span>Options</span>
        </h6>

        <ul class="nav flex-column">
            <li class="nav-item small border mb-1 {% active 'project_overview' %}">
                <a class="nav-link px-2 py-1 {% active 'project_overview' %}" href="{% url 'main:project_overview' project.pk %}">Overview</a>
            </li>
            <li class="nav-item small border mb-1 {% active 'project' %}">
                <a class="nav-link px-2 py-1 {% active 'project' %}" href="{% url 'main:project' project.pk %}">Set Up</a>
            </li>
            <li class="nav-item small border mb-1 {% active 'documents' %}">
                <a class="nav-link px-2 py-1 {% active 'documents' %}" href="{% url 'main:documents' project.pk %}">Documents</a>
            </li>
            <li class="nav-item small border mb-1">
                Group Tags
                <ul>
                    {% for tt in tag_types %}
                        <li class="nav-item small border mb-1">
                            <a class="nav-link px-2 py-1 l-inactive" href="{% url 'main:project_group_tags_type' project.pk tt %}">{{ tt }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <li class="nav-item small border mb-1 {% active 'project_group_wizard' %}">
                <a class="nav-link px-2 py-1 {% active 'project_group_wizard' %}" href="{% url 'main:project_group_wizard' project.pk %}">Grouping Wizard</a>
            </li>
            <li class="nav-item small border mb-1 {% active 'project_parked_tags' %}">
                <a class="nav-link px-2 py-1 {% active 'project_parked_tags' %}" href="{% url 'main:project_parked_tags' project.pk %}">Parked Tags</a>
            </li>
            <li class="nav-item small border mb-1 {% active 'project_special_tags' %}">
                <a class="nav-link px-2 py-1 {% active 'project_special_tags' %}" href="{% url 'main:project_special_tags' project.pk %}">Special Tags</a>
            </li>
            <li class="nav-item small border mb-1 {% active 'project_collections' %}">
                <a class="nav-link px-2 py-1 {% active 'project_collections' %}" href="{% url 'main:project_collections' project.pk %}">Collections</a>
            </li>
            <li class="nav-item small border mb-1 {% active 'project_export' %}">
                <a class="nav-link px-2 py-1 {% active 'project_export' %}" href="{% url 'main:project_export' project.pk %}">Export</a>
            </li>
        </ul>
    </div>
</nav>