{% extends 'main/base.html' %}

{% block title %}Group Tags{% endblock %}
{% block heading %}{{ project }} - Group Tags{% endblock %}

{% block css %}
    <style>
        .btn-extra-sm {
            padding: 0.25rem 0.5rem; /* Smaller padding */
            font-size: 0.75rem;      /* Smaller font size */
        }
    </style>
{% endblock %}

{% block content %}
    {% for type in unassigned_tags %}
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title">Assign '{{ type.type }}' ({{ type.dict_type }})</h5>
            </div>
            <div class="card-body">
                <div class="container">
                {% for tag in type.tags %}
                    <div class="row border">
                        <div class="col-4">
                            {{ tag.variation }}
                        </div>
                        <div class="col-8">
                            <button type="button" id="ce_{{ tag.id }}" data-bs-toggle="modal" data-bs-target="#createEntryModal" data-value="{{ tag.variation }}" data-type="{{ type.dict_type }}" data-tag="{{ tag.id }}" class="btn btn-extra-sm btn-secondary">Create New Entry</button>&nbsp;
                            <button type="button"  data-bs-toggle="modal" data-bs-target="#assignToEntryModal" class="btn btn-extra-sm btn-secondary">Assign To Entry</button>&nbsp;
                            <a href="{% url 'main:park_tag' tag.id %}" class="btn btn-extra-sm btn-secondary">View</a>&nbsp;
                            <a href="{% url 'main:park_tag' tag.id %}" class="btn btn-extra-sm btn-secondary">Park</a>&nbsp;
                            <a href="{{ tag.get_transkribus_url }}" target="_blank" class="btn btn-extra-sm btn-secondary">Trankribus</a>&nbsp;
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
    {% include 'main/modal_create_entry.html' %}
    {% include 'main/modal_assign_to_entry.html' %}
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
          $('#createEntryModal').on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget);  // Button that triggered the modal
            let dict_type = button.data('type');
            let new_variation = button.data('value');
            let tag_id = button.data('tag');
            
            $('#new_dict_type').val(dict_type);
            $('#new_variation').val(new_variation);
            $('#new_tag_id').val(tag_id);
          });
        });
    </script>
{% endblock %}