{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Upload{% endblock %}
{% block heading %}{{ project }} - Upload{% endblock %}

{% block content %}
    <div class="alert alert-info" role="alert">
        Upload a Transkribus document export ZIP file.
        <ul>
            <li>It must be a <strong>.zip</strong> files</li>
            <li>It must contain either a page-xml or an alto export</li>
            <li>It shouldn't contain images. They are ignored.</li>
        </ul>
    </div>
    {% crispy form %}
{% endblock %}
