{% extends 'main/base.html' %}
{% load nav_tags %}

{% block title %}Grouping Wizard{% endblock %}
{% block heading %}{{ project }} - Overview{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title">Select Tag Type</h5>
            </div>
            <div class="card-body">
                {% for type in tag_types %}
                    {% if type == selected_type %}
                        <a href="" class="btn btn-sm btn-secondary disabled">{{ type }}</a>
                    {% else %}
                        <a href="?tag_type={{ type }}" class="btn btn-sm btn-outline-secondary">{{ type }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="tag_id" value="{{ tag.tag.id }}"/>
            <input type="hidden" name="dictionary_id" value="{{ dict_id }}"/>
        
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title">
                        Group "<span style="background-color: khaki;">{{ tag.tag.variation }}</span>" to a Dictionary Entry
                        <a href="{% url 'main:park_tag' tag.tag.id %}" class="btn btn-secondary float-end">Park</a>
                    </h5>
                    
                </div>
                <div class="card-body">
                    {% for close in tag.closest %}
                        <div class="row border">
                            <div class="col-1">
                                <span class="badge" style="background-color: {% value_to_color close.1 %}">{{ close.1 }}</span>
                            </div>
                            <div class="col-3">
                               {{ close.0.entry }}
                            </div>
                            <div class="col-3 small">
                                {% for var in close.0.entry.variations.all %}
                                    {% if var.variation == close.0.variation %}
                                        <b>{{ var.variation }}</b>
                                    {% else %}
                                        {{ var.variation }}
                                    {% endif %}<br/>
                                {% endfor %}
                            </div>
                            <div class="col-3">
                                <input type="submit" name="add_to_{{ close.0.entry.id }}" value="Add To '{{ close.0.entry }}'" class="btn btn-primary" style="width: 100%;" />
                            </div>
                        </div>
                    {% endfor %}
                    <div class="row border">
                        <div class="col-1">
                            <span class="badge bg-primary">New</span>
                        </div>
                        <div class="col-3">
                            <input type="text" name="new_entry_label" class="form-control"/>
                        </div>
                        <div class="col-3 small">
                            {{ tag.tag.variation }}
                        </div>
                        <div class="col-3">
                            <input type="submit" name="create_new" value="Create New Entry" class="btn btn-primary" style="width: 100%;" />
                        </div>
                    </div>
                    <div class="row border">
                        <div class="col-1">
                            <span class="badge bg-primary">Existing</span>
                        </div>
                        <div class="col-3">
                            <select name="selected_entry" class="form-control" aria-label="Selected Entry">
                                <option value="">Select Entry</option>
                                {% for option in variations %}
                                    <option value="{{ option.id }}">{{ option }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-3 small">
                            [existing variations] + {{ tag.tag.variation }}
                        </div>
                        <div class="col-3">
                            <input type="submit" name="add_to_existing" value="Add To Selected Entry" class="btn btn-primary" style="width: 100%;" />
                        </div>
                    </div>
                    <div class="row border">
                        <div class="col-1"></div>
                        <div class="col-3">
                            <div class="mb-2">
                                <label for="NotesOnEntry" class="form-label small mb-0">Notes on Entry</label>
                                <textarea id="NotesOnEntry" name="notes_on_entry" class="form-control"></textarea>
                                <div id="NotesOnEntryHelp" class="form-text">Add notes to the dictionary entry.</div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="mb-2">
                                <label for="NotesOnVariation" class="form-label small mb-0">Notes on Variation</label>
                                <textarea id="NotesOnVariation" name="notes_on_variation" class="form-control"></textarea>
                                <div id="NotesOnEntryHelp" class="form-text">Add notes to the page tag variation.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
