{% extends 'twf/base/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <p class="lead">Normalize your date strings to EDTF format.</p>
    {% include 'twf/base/alert_info.html' %}

    {% if has_next_tag %}
        <div class="row">
            <div class="col-12">
                {% crispy form %}
            </div>
        </div>
    {% else %}$
        <div class="alert alert-info">
            There are no more dates to normalize
        </div>
    {% endif %}
{% endblock %}