{% extends 'twf/base/info_card.html' %}

{% block title %}
    Tags Overview
{% endblock %}

{% block info_text %}
     Tags are extracted from page data and used for grouping into dictionary entries. Each tag represents a 
    mention of something, which may have multiple spellings or variations. Tags are categorized by types, so 
    for instance, 'Lndn' and 'London' can be grouped into a dictionary entry for locations, both referring to 
    the city of London. Each tag also retains a reference to the page where it was originally found.
{% endblock %}

{% block number_1 %}
    {{ stats.total_tag_types }}
{% endblock %}

{% block number_1_label %}
    Tag Types
{% endblock %}

{% block number_2 %}
    {{ stats.total_tags }}
{% endblock %}

{% block number_2_label %}
    Total Tags
{% endblock %}

{% block number_3 %}
    {{ stats.average_grouped_percentage|floatformat:2 }} %
{% endblock %}

{% block number_3_label %}
    Grouped
{% endblock %}