{% extends 'twf/base/base.html' %}
{% load nav_tags %}

{% block content %}
     <div class="border rounded bg-light mt-0 p-3">
         {% include 'twf/tags/info_card_tags.html' %}
        
        <h1 class="display-6">Tag Grouping Status</h1>
        
        <div class="table-responsive"> <!-- Responsive table wrapper -->
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Variation Type</th>
                        <th>Count</th>
                        <th>Percentage</th>
                    </tr>
                </thead>
                <tbody>
                {% for variation in stats.variation_type_counts %}
                    <tr>
                        <td>{{ variation.variation_type }}</td>
                        <td>{{ variation.count }}</td>
                        <td>{{ variation.percentage|floatformat:2 }}%</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        
        <div class="table-responsive"> <!-- Responsive table wrapper -->
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Variation Type</th>
                        <th>Total</th>
                        <th>Grouped</th>
                        <th>%</th>
                        <th>Parked</th>
                        <th>%</th>
                        <th>Unresolved</th>
                    </tr>
                </thead>
                <tbody>
                {% for variation in stats.variation_type_edit_counts %}
                    <tr>
                        <td>{{ variation.variation_type }}</td>
                        <td class="text-end">{{ variation.count }}</td>
                        <td class="text-end">{{ variation.grouped }}</td>
                        <td class="text-end">{{ variation.grouped_percentage|floatformat:2 }}</td>
                        <td class="text-end">{{ variation.parked }}</td>
                        <td class="text-end">{{ variation.parked_percentage|floatformat:2 }}</td>
                        <td class="text-end">{{ variation.unresolved }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
     
     </div>
{% endblock %}