{% extends 'twf/base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
     <div class="border rounded bg-light mt-0 p-3">
        <h1 class="display-6">Search with Openai</h1>
         <p class="lead">OpenAI can search for any data. Its results might be unreliable and also depend on your prompt.</p>
         {% include 'twf/dictionaries/batches/notice.html' %}
         
         {% crispy form %}
     
     </div>
{% endblock %}

{% block script %}
    <script src="{% static 'twf/js/celery_task_monitor.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('#button-id-startbatch').click(function() {
                const startUrl = '/celery/dictionaries/batch/openai/'; // Task start URL
                const progressUrlBase = '/celery/status/'; // Base URL for polling progress
                const progressBarId = '#taskProgressBar'; // ID of the progress bar element
                const logTextareaId = '#id_progress_details'; // ID of the textarea to display logs
                
                // Start the task
                startTask(startUrl, progressUrlBase, progressBarId, logTextareaId);
            });
        });
    </script>
{% endblock %}