html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.container-fluid {
    flex: 1;
    display: flex;
    flex-direction: column;
}


h1 {
    font-size: 1.4em;
    margin-top: .3rem;
    color: #c7c7c7;
}

.text-small {
    font-size: 0.75em;  /* Adjust this value as needed */
}

.content {
  flex: 1;  /* This makes the content expand to fill available space, pushing the footer down */
}

.footer {
  flex-shrink: 0; /* Prevents the footer from shrinking */
}

.l-inactive {
    transition: background-color .3s ease;
    color: #3a3a3a !important;
}

.l-inactive:hover {
    background-color: #3d603d;
    color: #ffffff;
}

.l-active {
    background-color: #3d603d;
    color: #ffffff !important;
}

/******************************************************************************/

.pagination li a {
    padding: 6px 12px;
    border: 1px solid #a8a8a8;
    margin-left: -1px; /* Overlap borders to prevent double borders */
}

.pagination li.active a {
    background-color: #007bff; /* Bootstrap primary blue */
    color: white; /* White text color */
    border-color: #007bff; /* Matching border color */
}

.pagination li:first-child a {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.pagination li:last-child a {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.pagination li a:hover,
.pagination li a:focus {
    background-color: #c7c7c7; /* Light gray for hover */
    color: #495057; /* Darker text color for hover */
    text-decoration: none; /* No underline */
}

.pagination li.active a:hover,
.pagination li.active a:focus {
    background-color: #0056b3; /* Darker blue for active link hover */
    color: white;
}

nav[aria-label="Table navigation"] {
    display: flex;
    justify-content: center;
    margin-top: 20px;  /* Adds vertical spacing, adjust as needed */
}

/* Alternatively, if you are sure only pagination uses <nav> like this: */
nav > ul.pagination {
    display: flex;
    justify-content: center;
}
.form-group {
    font-size: small;
}
.form-control {
    font-size: small;
}