{% extends 'twf/base/base.html' %}
{% block content %}
    <div class="border rounded bg-light mt-0 p-3">
        <div class="row mb-3">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            {{document.num_tags}} tags in this document. 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for page in document.pages.all %}
                    {% if not page.is_ignored %}
                        <div class="col-8 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ page.tk_document_id }} (p. {{ page.tk_page_number }})</h5>
                                    <p class="card-text small">
                                        Last parsed: <span class="badge bg-secondary">{{ page.last_parsed_at }}</span>
                                        Blocks: <span class="badge bg-secondary">{{ page.parsed_data|length }}</span>
                                        Tags: <span class="badge bg-secondary">{{ page.num_tags }}</span>
                                    </p>
                                    <div class="card-text px-2 bg-light">
                                        {% for block in page.parsed_data.elements %}
                                             <span class="badge bg-info">{{ block.element_data.custom_structure.structure.type }}</span>
                                            <p class="small">
                                                {% for line in block.element_data.text_lines %}
                                                    {{ line }}<br/>
                                                {% endfor %}
                                            </p>
                                            {% if not forloop.last %}
                                                <hr/>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="card-text px-2 bg-light">
                                        Tags:
                                        {% for tag in page.tags.all %}
                                            {% if tag.dictionary_entry %}
                                                <span class="badge bg-success">{{ tag.variation }}: {{ tag.dictionary_entry }}</span>
                                            {% else %}
                                                <span class="badge bg-danger">{{ tag.variation }}</span>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 mb-3">
                            <img src="{{ page.parsed_data.file.imgUrl }}" class="img-fluid" alt="Page image">
                            <a href="{{ page.parsed_data.file.xmlUrl }}" target="_blank">Download PAGE.XML</a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
    </div>
{% endblock %}