{% extends 'twf/base/info_card.html' %}

{% block info_text %}
     <u>Description:</u> <i>{% if project.description %}{{ project.description }}{% else %}&lt;no description&gt;{% endif %}</i><br/>
     <u>Transkribus Collection ID:</u> {{ project.collection_id }}<br/><br/>
    
    <strong>{{ project.title }}</strong> was created by user <strong>{{ project.owner }}</strong> on <strong>{{ project.created_at }}</strong>
     {%  if project.members.count > 0 %}
        and the members are:
        {% for member in project.members.all %}
            {{ member }}
            {% if not forloop.last %}, {% endif %}
        {% endfor %}
    {% endif %}. The project was last modified <strong>{{ project.modified_at|timesince }} ago</strong>.
{% endblock %}

{% block number_1 %}
    {{ project.documents.count }}
{% endblock %}

{% block number_1_label %}
    Documents
{% endblock %}

{% block number_2 %}
    {{ doc_stats.total_pages }}
{% endblock %}

{% block number_2_label %}
    Pages
{% endblock %}

{% block number_3 %}
    {{ project.members.count|add:1 }}
{% endblock %}

{% block number_3_label %}
    Users
{% endblock %}