{% extends 'twf/base/base.html' %}

{% block content %}
     <div class="border rounded bg-light mt-0 mb-3 p-3">
        {% include 'twf/project/info_card_project.html' %}
     </div>
    
    <div class="border rounded bg-light mt-0 p-3">
    
     <h2 class="display-6 mt-3">Data Counts</h2>
     <div class="table-responsive"> <!-- Responsive table wrapper -->
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Statistic</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Document Count</th>
                        <td>{{ stats.document_count }}</td>
                    </tr>
                    <tr>
                        <th>Page Count</th>
                        <td>{{ stats.page_count }}</td>
                    </tr>
                    <tr>
                        <th>Ignored Pages</th>
                        <td>{{ stats.ignored_pages }}</td>
                    </tr>
                    <tr>
                        <th>Ignored %</th>
                        <td>{{ stats.ignored_percentage|floatformat:2 }}%</td>
                    </tr>
                    <tr>
                        <th>Largest Document (most pages)</th>
                        <td>{{ stats.largest_document.title }} ({{ stats.largest_document.num_pages }} pages)</td>
                    </tr>
                    <tr>
                        <th>Smallest Document (least pages)</th>
                        <td>{{ stats.smallest_document.title }} ({{ stats.smallest_document.num_pages }} pages)</td>
                    </tr>
                    <tr>
                        <th>PageTag Count</th>
                        <td>{{ stats.pagetag_count }}</td>
                    </tr>
                    <tr>
                        <th>Unique PageTag Count</th>
                        <td>{{ stats.unique_pagetag_count }}</td>
                    </tr>
                    <tr>
                        <th>Average PageTags per Document</th>
                        <td>{{ stats.average_pagetags_per_document|floatformat:2 }}</td>
                    </tr>
                    <tr>
                        <th>Median PageTags per Document</th>
                        <td>{{ stats.median_pagetags_per_document }}</td>
                    </tr>
                    <tr>
                        <th>Total PageTags</th>
                        <td>{{ stats.total_pagetags }}</td>
                    </tr>
                    <tr>
                        <th>PageTags with Dictionary Entry</th>
                        <td>{{ stats.pagetags_with_dictionaryentry }}</td>
                    </tr>
                    <tr>
                        <th>Percentage of PageTags with Dictionary Entry</th>
                        <td>{{ stats.percentage_with_dictionaryentry|floatformat:2 }}%</td>
                    </tr>
                </tbody>
            </table>
        </div>
     </div>
    
    
{% endblock %}