{% extends 'twf/base/base.html' %}

{% block content %}
     <div class="border rounded bg-light mt-0 mb-3 p-3">
        {% include 'twf/project/info_card_project.html' %}
     </div>
    
    <div class="border rounded bg-light mt-0 p-3">
    
     <h2 class="display-6 mt-3">Data Counts</h2>
     <div class="table-responsive"> <!-- Responsive table wrapper -->
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Statistic</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Document Count</th>
                        <td>{{ doc_stats.total_documents }}</td>
                    </tr>
                    <tr>
                        <th>Page Count</th>
                        <td>{{ doc_stats.total_pages }}</td>
                    </tr>
                    <tr>
                        <th>Average pages per document</th>
                        <td>{{ doc_stats.average_pages_per_document }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
     </div>
    
    
{% endblock %}