{% extends 'twf/base/base.html' %}
{% load twf_filters %}

{% block page_title %}
    <h1>Prompt: {{ prompt.system_role }}</h1>
{% endblock %}

{% block content %}
    <div class="row mb-4">
        <div class="col-12">
            <a href="{% url 'twf:project_prompts' %}" class="btn btn-outline-dark">
                <i class="fas fa-arrow-left"></i> Back to Prompts
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header bg-dark text-white">
                    <h5 class="mb-0">Prompt Details</h5>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">System Role</dt>
                        <dd class="col-sm-9">{{ prompt.system_role }}</dd>
                        
                        <dt class="col-sm-3">Created</dt>
                        <dd class="col-sm-9">{{ prompt.created_at|date:"Y-m-d H:i:s" }}</dd>
                        
                        <dt class="col-sm-3">Last Modified</dt>
                        <dd class="col-sm-9">{{ prompt.modified_at|date:"Y-m-d H:i:s" }}</dd>
                        
                        <dt class="col-sm-3">Created By</dt>
                        <dd class="col-sm-9">{{ prompt.created_by }}</dd>
                        
                        <dt class="col-sm-3">Last Modified By</dt>
                        <dd class="col-sm-9">{{ prompt.modified_by }}</dd>
                    </dl>
                </div>
            </div>
            
            <div class="card mb-4">
                <div class="card-header bg-dark text-white">
                    <h5 class="mb-0">Prompt Text</h5>
                </div>
                <div class="card-body">
                    <pre class="p-3 bg-light">{{ prompt.prompt }}</pre>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row mt-4">
        <div class="col-12">
            <div class="btn-group" role="group">
                <a href="{% url 'twf:project_edit_prompt' pk=prompt.id %}" class="btn btn-dark me-2">
                    <i class="fas fa-edit"></i> Edit Prompt
                </a>
                <a href="#" class="btn btn-danger show-danger-modal" 
                   data-redirect-url="{% url 'twf:project_delete_prompt' pk=prompt.id %}"
                   data-message="Are you sure you want to delete this prompt? This action cannot be undone.">
                    <i class="fas fa-trash"></i> Delete Prompt
                </a>
            </div>
        </div>
    </div>
{% endblock %}