{% extends 'twf/base/base.html' %}

{% block sub_content %}
    <div>
        <h1 class="display-6">Setup Project</h1>
         <<div class="row">
                    <div class="col-12">

                        <div class="mb-3">
                            <label for="extractMetadata" class="form-label">Extract metadata and save it to documents.</label>
                            <input id="extractMetadata" type="button"  role="button" class="form-control btn btn-primary" value="Extract Metadata from Google Docs">
                            <div id="extractTagsHelp" class="form-text text-danger">
                                Depending on the size of your Google document, this can take a long time.
                            </div>
                            
                            <div class="col-12 border text-center">
                                <span>Progress:</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" 
                                         style="width: 0%;" id="extractMetadataProgressBar" aria-valuenow="0" 
                                         aria-valuemin="0" aria-valuemax="100">0%</div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
    </div>
    <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <h5>How To Use</h5>
                            <ul>
                                <li>You can extract additional Metadata from a <strong>Google Sheets Document</strong>.</li>
                                <li>Give <strong>Editor Permissions</strong> to the user <u>transkribusworkflow@transkribusworkflow.iam.gserviceaccount.com</u></li>
                                <li>Copy your <strong>Google-sheet-ID</strong> from the Google-URL (after <i>spreadsheet/d/</i> until the next slash) into the form to the left.</li>
                                <li>Enter the <strong>Range</strong> of the Google-Sheet you want to read out.
                                    <ul>
                                        <li><strong>Format:</strong> <code>Sheet-name!FirstCell:LastCell</code></li>
                                        <li><strong>Example:</strong> <code>MySheet!A1:D55</code><br/>(<small>From the sheet named 'MySheet' the area from A1 to D55. 
                                            The first row has to be the title row, the subsequent rows are the data. 
                                            In this example you have 54 data rows with four columns each.)</small></li>
                                        <li><strong>First row</strong> (row <code>A</code> in the above example) is the title row. 
                                            Its values will be the keys of your metadata. 
                                            You need to set the name of the column where your <strong>Transkribus Document IDs</strong> are stored 
                                            (meaning, typically, the value of the cell A1, for example: <code>doc_id</code>).</li>
                                    </ul>
                                </li>
                                <li>The metadata for each found document is set for all the columns in the range. 
                                    You might want to specify which columns you want to import. You can do so by providing 
                                    the <strong>valid title row values</strong> as coma separated list.</li>
                                <li>Click the <strong>Save</strong> button to save your preferences to the project.</li> 
                                <li>Click the <strong>Extract Metadata</strong> button to start the process. 
                                     If possible, avoid selecting very large ranges.</li>
                            </ul>
                        </div>
                    </div>
                </div>
    </div>
{% endblock %}
