{% extends 'twf/base/base.html' %}
{% load static %}

{% block sub_content %}
    <div>
        <h1 class="display-6">Structure downloaded data</h1>
        <p class="lead">This page allows you to extract the downloaded data 
            from Transkribus and create database objects from it.</p>
        
        {% if not project.job_download_url %}
            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">There is no export</h4>
                <p>
                    You need to request an export and download it first.
                    Please go to the <a href="{% url 'twf:project_tk_export' %}">TK Export</a> page and
                    start an export.
                </p>
            </div>
        {% endif %}
        
        <div class="row">
            <div class="col-12">
                <div class="mb-3">
                    <label for="extractZip" class="form-label">Extract files from zip and create database objects</label>
                    <input id="extractZip" type="button"  role="button" class="form-control btn btn-dark" value="Extract Downloaded Data">
                    <div id="transkribusDownloadHelp" class="form-text text-danger">
                        Depending on the number of your documents, this can take a long time.
                    </div>
                    
                    <div class="col-12 border text-center">
                        <span>Progress:</span>
                        <div class="progress">
                            <div class="progress-bar bg-dark" role="progressbar" 
                                 style="width: 0;" id="extractProgressBar" aria-valuenow="0" 
                                 aria-valuemin="0" aria-valuemax="100">0%</div>
                        </div>
                    </div>
                    
                    <div class="col-12">
                        <textarea id="extractionLog" style="width: 100%" rows="10"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        function scrollToBottom() {
            var textarea = $('#extractionLog');
            textarea.scrollTop(textarea[0].scrollHeight);
        }

        $(document).ready(function() {
            $('#extractZip').click(function() {
                $('#extractionLog').text(''); // clear log
                
                // Start the extraction process
                $.ajax({
                    url: '/ajax/transkribus/extract/',
                    success: function(data) {
                        console.log("Extraction started", data);
                        let taskId = data.task_id;
                        pollTaskProgress(taskId);  // Start polling for task progress
                    },
                    error: function(data) {
                        console.log("ERROR", data);
                    }
                });
            });
        });
    
        function pollTaskProgress(taskId) {
            let url = '/celery/status/' + taskId + '/';  // Adjust the URL if needed
            
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    const progressBar = $('#extractProgressBar');
                    
                    if (data.status === 'PROGRESS' || data.status === 'PENDING') {
                        // console.log(data)
                        let progress = (data.current / data.total) * 100;
                        progressBar.css('width', progress + '%');
                        progressBar.text(progress.toFixed(2) + '%');
                        $('#extractionLog').append(data.text + '\n');
                        scrollToBottom();
                        
                        setTimeout(function() {
                            pollTaskProgress(taskId);  // Poll again
                        }, 800);  // Adjust the polling interval if needed
                    } else if (data.status === 'SUCCESS') {
                        progressBar.css('width', '100%');
                        progressBar.text('Completed');
                        $('#extractionLog').append('Task completed');
                        scrollToBottom();
                    } else if (data.status === 'FAILURE') {
                        $('#extractionLog').append('Error: ' + data.error + '\n');
                        scrollToBottom();
                    }
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
{% endblock %}