{% extends 'twf/base/base.html' %}
{% load render_table from django_tables2 %}
{% load twf_filters %}

{% block page_title %}
    <h1>Tasks in "{{ project.title }}"</h1>
{% endblock %}

{% block content %}
    <p class="lead">All tasks from your project are listed here.</p>

    {% twf_filter filter %}

    <div class="table-responsive-sm mt-3">
        <div class="card">
            <div class="card-body p-0">
                {% render_table table %}
            </div>
        </div>
    </div>

{% endblock %}