{% extends 'twf/base/base.html' %}
{% load twf_permissions %}

{% block content %}
     <div class="border rounded bg-light mt-0 p-3">
        {% if project %}
            <h1 class="display-6">Manage Permissions for {{ project }}</h1>

            <p class="lead">Permissions are set on a per-project basis.
                You can only change permissions which you have yourself.</p>

            <form method="post">
                {% csrf_token %}

                <h2 class="mb-0 pb-0 mt-3">Set default permissions</h2>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Permission</th>
                            {% for profile in users %}
                                <th scope="col">
                                    <div>
                                        {{ profile.user.username }}
                                        {% if profile.user == user %}
                                            <span class="badge bg-primary">You</span>
                                        {% endif %}
                                    </div> <!-- Username -->
                                </th>
                            {% endfor %}
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>Administrator</td>
                            {% for profile in users %}
                                <td>
                                    <button
                                        type="button"
                                        id="{{ profile.user.username }}__admin"
                                        class="btn btn-dark set-permission"
                                        data-user="{{ profile.user.username }}"
                                        data-permission="admin"
                                        {% if profile.user == user %}
                                            disabled
                                        {% endif %}
                                    >
                                        Set
                                    </button>
                                </td>
                            {% endfor %}
                            <td>Administrators have all rights in a project.</td>
                        </tr>
                        <tr>
                            <td>Manager</td>
                            {% for profile in users %}
                                <td>
                                    <button
                                        type="button"
                                        id="{{ profile.user.username }}__manager"
                                        class="btn btn-dark set-permission"
                                        data-user="{{ profile.user.username }}"
                                        data-permission="manager"
                                        {% if profile.user == user %}
                                            disabled
                                        {% endif %}
                                    >
                                        Set
                                    </button>
                                </td>
                            {% endfor %}
                            <td>Managers can trigger imports and exports and edit settings.</td>
                        </tr>
                        <tr>
                            <td>User</td>
                            {% for profile in users %}
                                <td>
                                    <button
                                        type="button"
                                        id="{{ profile.user.username }}__user"
                                        class="btn btn-dark set-permission"
                                        data-user="{{ profile.user.username }}"
                                        data-permission="user"
                                        {% if profile.user == user %}
                                            disabled
                                        {% endif %}
                                    >
                                        Set
                                    </button>
                                </td>
                            {% endfor %}
                            <td>Users can work workflows.</td>
                        </tr>

                    </tbody>
                </table>

                {% for name, value in permissions.items %}
                    <h2 class="mb-0 pb-0 mt-3">{{ name }}</h2>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Permission</th>
                                {% for profile in users %}
                                    <th scope="col">
                                        <div>{{ profile.user.username }}</div> <!-- Username -->
                                        {% if profile.user == user %}
                                            <span class="badge bg-primary">You</span>
                                        {% else %}
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" onchange="toggleColumn(this)">
                                                <small class="text-muted">(select all)</small>
                                            </div>
                                        {% endif %}
                                    </th>
                                {% endfor %}
                                <th scope="col">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                    {% for perm in value %}
                        <tr>
                            <td>{{ perm.label }}</td>
                            {% for profile in users %}
                                <td>
                                   <div class="form-check form-switch">
                                        <input
                                            name="{{ profile.user.username }}__{{ perm.name }}"
                                            class="form-check-input user-checkbox"
                                            type="checkbox"
                                            data-user="{{ profile.user.username }}"
                                            data-default-groups="{{ perm.default_for|safe }}"
                                            data-permission="{{ perm.name }}"
                                            {% user_has_permission profile perm.name project as permission_check %}
                                            {% if permission_check %}
                                                checked="checked"
                                            {% endif %}
                                            {% if profile.user == user %}
                                                disabled
                                            {% endif %}
                                        />
                                    </div>
                                </td>
                            {% endfor %}
                            <td>{{ perm.description }}</td>
                        </tr>
                    {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}

                <div class="w-100 text-end">
                    <button type="submit" class="btn btn-dark">Save Project permission changes</button>
                </div>
            </form>
        {% else %}
            <h1 class="display-6">No project selected</h1>
            <p class="lead">Please select a project to manage permissions.</p>
        {% endif %}
     </div>
{% endblock %}

{% block script %}
    <script>
        function toggleColumn(headerCheckbox) {
            const columnIndex = headerCheckbox.closest('th').cellIndex;
            const table = headerCheckbox.closest('table');
            const rows = table.querySelectorAll('tbody tr');
        
            rows.forEach(row => {
                const cellCheckbox = row.cells[columnIndex].querySelector('input[type="checkbox"]');
                if (cellCheckbox) {
                    cellCheckbox.checked = headerCheckbox.checked;
                }
            });
        }
        
        document.querySelectorAll('.set-permission').forEach(button => {
            button.addEventListener('click', function () {
                const username = this.dataset.user;  // Get the username
                const permission = this.dataset.permission;  // Permission level
    
                // Preselect checkboxes for this user
                document.querySelectorAll(`.user-checkbox[data-user="${username}"]`).forEach(checkbox => {
                    let defaultGroups = checkbox.dataset.defaultGroups;

                    if (!defaultGroups) {
                        defaultGroups = [];
                    } else {
                        // Properly extract groups, stripping single quotes and brackets
                        defaultGroups = defaultGroups
                            .replace(/\[|\]|'/g, '')  // Remove brackets and single quotes
                            .split(',')
                            .map(group => group.trim()); // Trim spaces
                    }

                    console.log(defaultGroups);

                    if (permission === 'admin') {
                        checkbox.checked = true;  // Admin: check all
                    } else if (permission === 'manager' || permission === 'user') {
                        // Check if the permission should be set based on default groups
                        if (defaultGroups.includes(permission)) {
                            checkbox.checked = true;
                        }
                        else {
                            checkbox.checked = false;
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}